img {
  height: 300px;

}

.headersection {
  background-color: #1f2937;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100vw;
}

h2 {
  font-size: 24px;
  color: white;
  font-weight: 800;
}

.headerlinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.headerlinks p {
  justify-content: flex-end;
  display: flex;
  font-size: 18px;
  font-weight: lighter;
}

.sectiontwo {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.headertext {
  display: flex;
  flex-direction: column;
}
.headercontent {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.headertext p {
  font-size: 18px;
  font-weight: lighter;
}

.gallery {
  display: flex;
  flex-direction: row;
}

.placeholder1, .placeholder2, .placeholder3, .placeholder4 {

  width: 100px;
  height: 100px;
  background-color: white;
  border-style: solid;
  border-color: #3882f6;
  border-radius: 8px;
  margin: 10px;
  display: flex;
  }

  .signup {
    background-color: #3882f6;
    color: white;
    width: 100px;
    border-radius: 8px;
    border: 2px #3882f6 solid;
  }

  .secondheader {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 30px;
  }


  .el1, .el2, .el3, .el4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

  }

  .el1 p, .el2 p, .el3 p, .el4 p{
    margin: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
  }

.quote {
  background-color: #e5e7eb;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-size: 36px;
    width: 100vw;
  }

  .quotecontent {
    margin: 20px;
    font-weight: lighter;
  }

  .author {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
  }


  .call {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    width: 700px;
    gap: 20px;

  }


.card button {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #3882f6;
  color: white;
  border-radius: 10px;
  border: white solid;
  width: 100px;
}

.card h4 {
  margin-left: 20px;
}

.card p {
  margin-left: 20px;
  font-weight: lighter;
}